# For IDE
dicoding-blog/.vscode
dicoding-blog/.idea

# For web application
dicoding-blog/dist
dicoding-blog/node_modules
dicoding-blog/package-lock.json

# For web application
restaurant-apps-starter-project/dist
restaurant-apps-starter-project/node_modules
restaurant-apps-starter-project/package-lock.json

# For web application
movie-catalogue/dist
movie-catalogue/node_modules
movie-catalogue/package-lock.json