# For IDE
dicoding-blog/.vscode
dicoding-blog/.idea

# For web application
dicoding-blog/dist
dicoding-blog/node_modules
dicoding-blog/package-lock.json

# For web application
restaurant-apps-starter-project/dist
restaurant-apps-starter-project/node_modules
restaurant-apps-starter-project/package-lock.json

# For web application
movie-catalogue/dist
movie-catalogue/node_modules
movie-catalogue/package-lock.json

# For web application
Submission 2_restaurant-pwa/dist
Submission 2_restaurant-pwa/node_modules
Submission 2_restaurant-pwa/package-lock.json

# For web application
segitiga-apa-aku-starter-project/segitiga-apa-aku/dist
segitiga-apa-aku-starter-project/segitiga-apa-aku/node_modules
segitiga-apa-aku-starter-project/segitiga-apa-aku/package-lock.json

# For web application
Submission_3_restaurant/dist
Submission_3_restaurant/node_modules
Submission_3_restaurant/package-lock.json