@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100300400700&display=swap");


a,
input,
button,
textarea {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
}

skip-to-content a {
    display: table-cell;
    position: absolute;
    top: -6em;
    padding: 0 1em 0 1em;
    margin: 1em;
    border-radius: 0.75em;
    text-decoration: none;
    vertical-align: middle;
    background-color: white;
    color: #222831;
    z-index: 1;
}

skip-to-content a:focus {
    top: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #393e46;
    width: 100%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

header {
    min-height: 50px;
    background-color: #ffd369;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0.5em 2em;
    max-width: 1440px;
    margin: auto;
}

nav .title {
    display: flex;
    align-items: center;
    gap: 1em;
    color: #222831;
}

nav .title img {
    height: 2em;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 0 0 0 1em;
    list-style-type: none;
    margin: 0;
}

.nav__list li {
    text-align: center;
}

.nav__list li a {
    text-decoration-line: none;
    text-transform: uppercase;
    color: #222831;
    display: inline-block;
    line-height: 44px;
    min-width: 44px;
    min-height: 44px;
}

.guide-span {
    color: #ffd000;
    margin-left: 10px;
}

hero-element {
    display: flex;
    align-items: stretch;
    min-height: 380px;
    width: 100%;
    background-image: url("./../public/hero-image.jpg");
    background-position: center;
    background-color: green;
    max-width: 1440px;
    margin: auto;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1em;
    text-align: center;
    color: #eeeeee;
    background-image: linear-gradient(to right, #222831, rgba(255, 0, 0, 0), #222831);
}

.overlay p {
    margin: 0;
}

main {
    flex: 1;
}

restaurant-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3em 0 1em 0;
    margin: auto;
}

restaurant-list h1 {
    color: #eeeeee;
    text-shadow: #222831;
    margin: 0 0 0.25em 0;
}

restaurant-list ul {
    display: grid;
    gap: 1em;
    padding: 0 1em;
    list-style-type: none;
}

restaurant-list a {
    display: flex;
    text-decoration: none;
    color: #222831;
}

restaurant-item {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0.75em;
    background-color: #222831;
    text-align: start;
    box-shadow: 0px 0px 0.5em 0px rgba(0, 0, 0, 0.5);
    width: 100%;
}

restaurant-item .kota {
    position: absolute;
    top: 1.5em;
    margin: 0;
    padding: 0.2em 0.5em;
    border-radius: 0 0.5em 0.5em 0;
    background-color: #ffd369;
    text-align: center;
    min-width: 3em;
}

restaurant-item img {
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-radius: 0.75em 0.75em 0 0;
}

restaurant-item .text {
    padding: 1em;
}

restaurant-item .text h2 {
    margin: 0;
    color: #ffd369;
}

restaurant-item .text p {
    color: #999999;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.star-outer {
    display: inline-block;
    position: relative;
    font-size: 1.3em;
    margin: 0 0 0.25em 0;
}

.star-outer::before {
    content: "\2605\2605\2605\2605\2605";
    color: #393e46;
}

.star-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-inner::before {
    content: "\2605\2605\2605\2605\2605";
    color: #ffd369;
}

.favorite__label {
    font-size: 50px;
    text-align: left;
}

.lineFavorite {
    background-color: #ffd000;
    height: 7px;
    width: 100px;
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 0 2em;
    background-color: #ffd369;
    color: #222831;
    min-height: 50px;
}

footer a {
    color: #222831;
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
}
footer p {
    color: #222831;
    margin: 0.5em 0;
    line-height: 44px;
}

/*Detail.css*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
    gap: 1.5em;
    max-width: 1440px;
    color: white;
    margin:auto;
}

.list-menu{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.75em;
    color: white;
}

.menu-item {
    list-style: none;
    padding-bottom: 0.25em;
    margin: 0.5em 0.75em 0 0.75em;
    border:2px #616161;
    border-style: none none solid none;
}

.detail-card{
    padding: 1.25em;
    border-radius: 0.5em;
    background-color: #222831;
    box-shadow: 0px 0px 0.5em 0px rgba(0, 0, 0, 0.5);
}

#restaurantName {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0;
    width: 100%;
    color: #ffd369;
}

#restaurant-img {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 2.35 / 1;
}

#box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 0;
}

#box3 div{
    display:flex;
    flex-direction: row;
    gap: 0.75em;
    align-items: center;
}

#box3 p {
    margin: 0;
    line-height: 1.25em;
}

#box3 i {
    color: #ffd369;
    line-height: 1.25em;
}

#box4 {
    grid-column-start: 1;
    grid-column-end: 3;
    width: auto;
    text-align: justify;
}

#box4 h2{
    margin: 0;
    color: #ffd369;
}

#box4 p{
    margin: 1em 0 0 0;
}

#box5 {
    grid-column-start: 1;
    grid-column-end: 2;
    padding:0;
}

#box5 h2{
    margin: 0;
    color: #ffd369;
}

#box6 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding:0;
}

#box6 h2{
    margin: 0;
    color: #ffd369;
}

#box7 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#box7 h2{
    margin: 0;
    color: #ffd369;
}

#review-form{
    margin: 1em 0 0 0;
    display: flex;
    flex-direction: column;
    gap:1.25em;
}

#review-form input{
    background-color: #393e46;
    border: none;
    border-radius: 0.5em;
    padding: 0 1em 0 1em;
    color:white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

#review-form button{
    align-self: flex-start;
    background-color: #ffd369;
    border: none;
    border-radius: 0.5em;
    line-height: 1.5em;
    padding: 0 1em 0 1em;
    color:#222831;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.list-review{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.75em;
    margin: 1em 0 0 0;
}

.item-list-review {
    list-style: none;
}

.reviewName {
    font-weight: bold;
    color: #ffd369;
    margin: 0;
}

.reviewDate {
    font-weight: normal;
    color: #616161;
    margin: 0;
}

.reviewText {
    color: white;
    margin: 0.75em 0 0 0;
}

.like {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #da216e;

    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
    border: 0;

    font-size: 18px;
    color: white;
    cursor: pointer;
}
